<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chatbot</title>

  <style>
    table,
    td {
      padding: 6px;
    }

    table {
      border-spacing: 5px;
    }

    body.loading {
      background: #333 url('http://code.jquery.com/mobile/1.3.1/images/ajax-loader.gif') no-repeat 50% 50%;
      -webkit-transition: background-color 0;
      transition: background-color 0;
      opacity: 0;
      -webkit-transition: opacity 0;
      transition: opacity 0;
    }
  </style>

  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body class="loading">


  <!-- The Modal -->
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <!-- <span onclick="document.getElementById('id01').style.display='none'"> -->
        <div class="text-center">
          <p>Thank you for your time and effort! You can now proceed to the next page.</p>
          <p><button type="button" class="btn btn-primary" id="next">Proceed further</button></p>
        </div>


      </div>
    </div>
  </div>



  <div class="container">

    <!-- <h1 class="text-center">Awesome Chatbot App</h1> -->

    <div class="media" style="background-color:whitesmoke">

      <img src="{{url_for('static', filename='img/bot.png')}}" class="rounded-circle float-left img-thumbnail" width="75px" alt="...">
      <div class="media-body">

        {% if context == "stress" %}
        <h5 style="margin:10px">UstadBot</h5> {% endif %} {% if context == "IR" %}
        <h5 style="margin:10px">TalashBot</h5> {% endif %}

        <span style="margin-left: 10px; color:rgb(32, 199, 32)">Online</span>
      </div>
    </div>


    <!--Messages container-->
    <div id="chatContainer" class="container border overflow-auto" style="height:420px;">

      <table id="chat-history">
        <tbody>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>


    </div>



    <div class="input-group">
      <!-- <input id="textbox" type="text" class="form-control" /> -->
      <textarea class="form-control" id="textbox" rows="3"></textarea>

      <div class="input-group-append">

        <button id="sendBtn" type="btton" class="btn btn-primary">Send</button>
      </div>



    </div>

  </div>


  <script type="text/javascript" src="{{url_for('static', filename='js/bot.js')}}"></script>

  <script>
    var body = document.getElementsByTagName('body')[0];
    var removeLoading = function() {
      // In a production application you would remove the loading class when your
      // application is initialized and ready to go.  Here we just artificially wait
      // 3 seconds before removing the class.
      setTimeout(function() {
        body.className = body.className.replace(/loading/, '');
      }, 3000);
    };
    removeLoading();
  </script>
</body>

</html>
